<div id="trackDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="mdi mdi-close"></i>
        </button>
        <h4 class="modal-title">Share a track</h4>
      </div>
      <div class="modal-body">
        <app-track-selector></app-track-selector>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          <i class="mdi mdi-send"></i>
        </button>
      </div>
    </div>
  </div>
</div>
