@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#avatarHelp {
  display: block;
  margin-bottom: @spacing;
}

.avatar {
  overflow: auto;
  margin-bottom: @spacing;

  &-container {
    float: left;
    margin: 5px;
    padding: 3px;
    .rounded(56px);

    .avatar-image {
      .rounded(50px);
      cursor: pointer;
    }

    &.selected {
      background-color: @brand-primary;
    }
  }
}

button {
  clear: both;
  display: block;
}



