@import "../assets/styles/variables";

/* Utils */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    //width: 5rem;
    z-index: 1000;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: @sidebar-bg;
  }
}

.logo {
  padding: 0 @spacing @spacing;
  background-color: darken(@sidebar-bg, 15%);
}

.profile {
  padding: @spacing;
  background-color: darken(@sidebar-bg, 10%);

  .profile-action {
    margin-bottom: @spacing;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  margin-right: @spacing / 2;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.expand {
  font-size: @font-size-h1;
  vertical-align:middle;
}

.online {
  color: @brand-success;
}

.description {
  margin: @spacing 0;
}
.conversation-profile {
  padding: @spacing;

  h2 {
    margin-bottom: @spacing / 2;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .media {
   padding: @spacing / 2 @spacing;
  &:hover {
    background-color: darken(@sidebar-bg, 5%);
  }
  }
}



.conversation {
  padding: @spacing;
  height: 100vh;
  background-color: @conversation-bg;
}
@media (min-width: 768px) {
  .conversation {
    padding-right: 2 * @spacing;
    padding-left: 2 * @spacing;
  }
}
.conversation .page-header {
  margin-top: 0;
}
