@import "../assets/styles/variables";
@import "../assets/styles/mixins";

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    width: @sidebar-size;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: @sidebar-bg;
  }
}

.logo {
  h1 {
    margin: @spacing / 2;
  }
  background-color: darken(@sidebar-bg, 15%);
  overflow: auto;
}

.conversations-list {

  h2 {
    margin: @spacing / 2;
  }

  &-avatar {
    .rounded(50px);
  }

  &-online {
    color: @brand-success;
  }

  .media {
    padding: @spacing;
    margin: 0;
    &:hover {
      background-color: darken(@sidebar-bg, 5%);
    }
  }
}

.conversation {
  height: 100vh;
  background-color: @conversation-bg;
}

@media (min-width: 768px) {
  .conversation {
    margin-left: @sidebar-size;
  }
}

.conversation .page-header {
  margin-top: 0;
}
