<div class="media" (click)="select()">
  <div class="media-left">
    <img class="media-object" [src]="track.album.images[2].url" [alt]="track.album.name">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{track.name}}</h4>
    by <span *ngFor="let artist of track.artists">{{artist.name}} </span>
  </div>
  <div class="media-left media-middle">
    <span *ngIf="hasUnselectionButton" class="btn btn-default" (click)="unselect()">
      <i class="mdi mdi-close"></i>
    </span>
  </div>
  <div *ngIf="hasUnselectionButton" class="media-left media-middle">
    <span class="btn btn-primary" (click)="send()">
      <i class="mdi mdi-send"></i>
    </span>
  </div>
</div>
