@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

nav .navbar-header a.navbar-btn {
  margin-right: @spacing;
}

.navbar-logo {
  .logo();

  @media only screen and (min-width: @grid-float-breakpoint) {
    position: fixed;
    i {
      display: none;
    }
  }

}

.navbar-inverse {
  opacity: 0.8;
}

.navbar-nav {
  text-transform: uppercase;

  &.navbar-right {
    margin-right: @spacing;
  }
}
