/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-less/bootstrap/index";
@import "variables";
@import "~bootswatch/cyborg/bootswatch.less";

* { box-sizing: border-box; }

.btn, .form-control {
  border-radius: @border-radius-button;
}

.btn:focus {
  outline: none;
}

.content {
  padding-top: @navbar-height;
}

.form-box {
  max-width: @form-size;
  margin: 100px auto;

  button[type=submit] {
    margin-top: 45px;
  }

  &.panel-default {
    background-color: fade(#222, 50%);
    .panel-heading {
      background-color: transparent;
    }
  }
}

.form-background {
  height: 266px;
  background-image: url("../images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.modal.fade {
  background-color: fade(black, 80%);
}

.modal, .modal-open{
  padding:0!important;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}





