@import "~bootswatch/cyborg/variables.less";

/* Bootstrap overrides */

@brand-primary: #E86500;
@border-radius-button: 0;
@font-size-h1: 36px;
@font-size-h2: 32px;
@font-size-h3: 28px;
@font-size-h4: 24px;
@font-size-h5: 20px;
@font-size-h6: 16px;

// Nav
@navbar-dafault-bg: darken(@sidebar-bg, 20%);
@navbar-inverse-bg: transparent;
@navbar-inverse-link-color: white;
@navbar-inverse-color: white;

@navbar-height: 75px;

@panel-body-padding:          25px;
@panel-heading-padding:       10px 25px;

// Form
@input-bg: #3c3c3c;
//** `<input disabled>` background color

@input-bg-disabled: darken(@input-bg, 20%);

  /* Custom */

@sidebar-bg: #404040;
@conversation-bg: #212121;
@message-bg: #262626;

@spacing: 1em;

@sidebar-size: 320px;
@message-input-size: 100px;

@form-size: 450px;



