@import "~bootswatch/cyborg/variables.less";

/* Bootstrap overrides */

@brand-primary: #E86500;
@border-radius-button:        0;
@font-size-h1:            36px;
@font-size-h2:            32px;
@font-size-h3:            28px;
@font-size-h4:            24px;
@font-size-h5:            20px;
@font-size-h6:            16px;

/* Custom */

@profile-bg: #3c3f41;
@sidebar-bg: #3c3f41;
@conversation-bg: #2b2b2b;
@message-bg: #313335;

@spacing: 2em;
